<a href="https://colab.research.google.com/github/Josemar1577/Livraria/blob/master/aula_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def print_alpha(abc,  num):
  for char in abc_list:
    for num in num_list:
      print

True

In [ ]:
teste_a = 10
teste_b = 4
resultado = teste_a^teste_b
print(resultado)

14

In [ ]:
ids_instrutores = [ 1,2,3]
ids_alunos_py = [10,9]
ids_alunos_csharp = [8,10]

ids_bylearners = ids_instrutores + ids_alunos_py
print(ids_bylearners)

[1, 2, 3, 10, 9]

In [ ]:
ids_bylearners += ids_alunos_csharp
print(ids_bylearners)

[1, 2, 3, 10, 9, 8, 10]

In [ ]:
ids_instrutores = [1,2,3]
ids_alunos_py = [10,9]
ids_alunos_csharp = [8,10]

ids_bylearners = ids_instrutores + ids_alunos_py + ids_alunos_csharp
print(ids_bylearners)

[1, 2, 3, 10, 9, 8, 10]

In [ ]:
#Funções Nativas para listas
#Primeira função: append() => Insere um elemento no final na lista

numeros = ['um']
numeros.append('dois')
numeros.append('tres')
numeros.append('quatro')

print(numeros)

['um', 'dois', 'tres', 'quatro']

####Segunda função: index() => Retorna o índice de um determinado **elemento**

In [ ]:
bylearners = ['Felipe','Alisson','Haynes','Josemar']
indice_haynes = bylearners.index('Haynes')

print(indice_haynes)
print(bylearners.index('Josemar'))

2
3

In [ ]:
lista = [2,1,4]
print(lista)
lista.sort()
print(lista)

[2, 1, 4]
[1, 2, 4]

In [ ]:
lista = [2,1,4]
print(sorted(lista))

[1, 2, 4]

In [ ]:
lista = [2,1,4]
print(lista.sort())
lista2 = lista.sort()
print(lista2)

None
None

In [ ]:
lista = ['c','b','a']
print(sorted(lista))# Sorted me retorna uma lista já ordenada
lista2 = sorted(lista)# Consigo atribuir a lista
print(lista2)

['a', 'b', 'c']
['a', 'b', 'c']

In [ ]:
lista = ["c",'b','a',str(1),str(2)]
print(sorted(lista))

['1', '2', 'a', 'b', 'c']

In [ ]:
ls = ['t','e','s','t','e']
print(len(s))

NameError: ignored

In [ ]:
ls = ['t','e','s','t','e']
print(len(s))

##**Manipulação de String**

In [ ]:
# Caractere é uma letra só
char = 'c'
# String é um 'conjunto' de carecteres
string_palavra = 'Josemar'
string_frase = 'Seja um bylearner'

# Vetor (Array) => Sequencia de elementos do mesmo tipo
# String é um Vetor (array) de caracteres

In [ ]:
string = "Bylearn"
#---------0123456

print(string[0])
print(string[1])
print(string[2])
print(string[3])
print(string[4])
print(string[5])
print(string[6])

In [ ]:
string = "ByLearn"
#---------0123456|7
print(string[7]) # Não existe

**Strings são imutáveis**

In [ ]:
palavra = 'teste'
palavra[2] = 'z'

**String podem ser fatiadas, como por exemplo, para mudar o valor de algum índice**

In [ ]:
nova_palavra = palavra[:2] + 'z' + palavra[3:]
nova_palavra

In [ ]:
palavra = 'abcdef'
print(palavra[-1])
print(palavra[-2])
print(palavra[:]) #print(palavra)

##**Pesquisar em Strings**

In [ ]:
'b' in 'abc'

In [ ]:
'd' in 'abc'

In [ ]:
'b' not in 'abc'

In [ ]:
'd' not in 'abc'

In [ ]:
s = 'teste'
print(len(s))

In [ ]:
string = 'Josemar'.lower()
string

In [ ]:
string = 'josemar'.upper()
string

**Concatenar Strings (somar)**

In [ ]:
string = 'Jo' + 'se' + 'mar'
string

print('Jo'+'se'+'mar')

In [ ]:
string = 'Jo'+'Se'.lower()+'Mar'.lower()
string

**Checar se todos os caracteres são letras**

In [ ]:
print("abc".isalpha())
print("1fg".isalpha())
print("123".isalpha())
print("+=&$/;".isalpha())

**Remover espaços em branco tanto inicio quanto no fim**

In [ ]:
"  sobrando espaços  ".strip()

In [ ]:
'    sobrando   espaços    '.strip()

**Juntar os itens da string através de um delimitador**

In [ ]:
",".join("abc")# Aqui faz sentido

In [ ]:
" , ".join("abc")# Aqui faz sentido

In [ ]:
'/ letra: '.join("abc")# Não faz sentido

**Separar uma string através de um delimitador**

In [ ]:
s = "n o m e"
s.split()

In [ ]:
s = "n,o,m,e"
s.split(",")

In [ ]:
s = 'nome'
s.split()

**##Listas dentro de listas**
Podemos criar quantas listas quisermos dentro de outras listas, bastando o elemento ser também uma lista ( Utilizando as barras [] )

In [ ]:
lista_dentro_de_lista = [[1,2],[3,4]]

In [ ]:
lista_dentro_de_lista[0]

In [ ]:
lista_dentro_de_lista[0][0]

In [ ]:
lista_dentro_de_lista[1][0]

#**Tipo Booleano de dado**


"Na computação tudo é zero ou um" - Qualquer um sobre computação
Tipo de dado mais simples é o tipo booleano => Tipo Lógico.
Booleano aceitam apenas dois valores (True/False) (1/0) (Sim/Não) Em Eletronica usamos Lâmpada => Acesa (Verdadeiro/1/Sim) Apagada (Falso/0/Não)

In [ ]:
boolean = True
print(type(boolean))

In [ ]:
boolean

In [ ]:
boolean = False
print(type(boolean))
boolean

In [ ]:
booleano = True
booleano = 0  # No Python booleanos são apenas True ou False
print(type(booleano))

In [ ]:
bool(0)

In [ ]:
bool(1)

#**If e Else**
O IF ele é um estrutura de condição => Avalia se uma expressão ou condição é verdadeira.
Se for (verdadeira) ele executa aquela execução propria dele.
Caso não for, ele executa a execução do else (caso exista).

In [ ]:
logica = True
if True:# Não estou trabalhando com a variável
  print("A lógica é verdadeira")

In [ ]:
logica = False
# Sempre que tiver True executa
if True:# Não estou trabalhando com a variável
  print("A lógica é verdadeira")

In [ ]:
logica = True
# Sempre que tiver False não executa
if False:# Não estou trabalhando com a variável
  print("A lógica é verdadeira")

Devemos sempre colocar a condição do IF sendo a variável ou expressão que queremos garantir a veracidade

In [ ]:
logica = False

if logica:# Agora estou trabalhando com a variável
  print("A lógica é verdadeira")

In [ ]:
logica = True

if logica:
  print("A lógica é verdadeira")

**Usando o else**

In [ ]:
logica = True
if logica:
  print("A lógica é verdadeira")
else:
  print("A lógica não é verdadeira")

**Cuidado: As execuções de If/Else devem estar dentro do seu escopo

In [ ]:
logica = True
if logica:
  print("A lógica é verdadeira")


print("A lógica não é verdadeira")

#**If e Else para diferente de True/False (Booleanos)**

In [ ]:
def main():
    nota1 = int(input("Digite sua primeira nota: "))
    nota2 = int(input("Digite sua segunda nota: "))
    media = (nota1 + nota2) / 2

# Sendo a media da escola 6
# Para passar de ano preciso ter uma nota maior ou igual a 6
    if media >= 6:
      print("Você passou")
    else:
      print("Você não passou")

    print(media)

main()

In [ ]:
def main():
    nota1 = int(input("Digite sua primeira nota: "))
    nota2 = int(input("Digite sua segunda nota: "))
    media = (nota1 + nota2) / 2

# Sendo a media da escola 6
# Para passar de ano preciso ter uma nota maior ou igual a 6
    if media < 6:
      print("Você não passou")
    else:
      print("Você passou")

    print(media)

main()

#**Desafio 4.1 - Número mágico**

Um mágico pede para alguém da plateia pensar num número de um a cinco.
Você escolhe (define) o numero.
Você pedirá para o mágico escolher o número que você pensou (receber input).

Se o valor do mágico for menor que o seu número você irá dizer para o mágico aumentar o valor do chute.
Se o valor do mágico for maior que o seu número você irá dizer para o mágico diminuir o valor do chute.
Se o valor do mágico for igual ao seu número você irá dizer para o mágico que ele acertou.

In [ ]:
def main():
  numero_escolhido = 1
  numero_magico = int(input("Valor Escolhido pelo Magico: "))

  if numero_magico > numero_escolhido:
    print("Diminua o Valor")
  elif numero_magico < numero_escolhido:
    print("Aumente o Valor")
  else:
    print("Você acertou")



main()

#**"Checagens" (Operadores lógicos)**
**>:** Maior que

**<:** Menor que

**>=:** Maior ou igual a

**<=:** Menor ou igual a

**==:** Comparação de igualdade (igual a)

**!=:** Diferende a

In [ ]:
def main():
  numero1 = 5
  numero2 = 5

  if numero1 != numero2:
    print("Os números são diferentes!!")
  else:
    print("Os números são iguais")
  
main()

Apenas **uma** execução pode ser feita por bloco de condição (apenas o primeiro IF verdadeiro)

In [ ]:
def main():
  char1 = 'f'
  char2 = 'b'

  #inicio do Bloco
  if char1 == 'f':
    print("Felipe")
  elif char2 == 'b':
    print("Josemar")
  else:
    print("Python") 
    # Final do Bloco 




main()

**Podemos ter um if que precise que todas as condições sejam verdadeiras (mais de uma condição):**

Para isso nós usamos o and (e em inglês)

**Podemos ter um if que precise que apenas uma das condições seja verdadeira (mais de uma condição):**

Para isso nós usamos o or (ou em inglês)

In [ ]:
def main():
  char1 = 'f'
  char2 = 'b'

  if (char1 == 'f') and (char2 == 'b'):
    print("Felipe & ByLearn")
  elif char1 == 'f':
    print("Felipe")
  else:
    print("Python")


main()

In [ ]:
def main():
  numero1 = 2
  numero2 = 3
  numero3 = 5

  numero_escolhido = 3

  if (numero1 == 3) or (numero2 == 3) or (numero3 == 3):
    print("Você acertou em pelo menos um dos chutes")
  else:
    print("Você errou todos os Chutes")

main()

**Exemplo lógico**

In [ ]:
def main():
  cond1 = True
  cond2 = True
  cond3 = False

  if cond1 and cond2 and cond3:
    print("Todas são verdadeiras")
  elif cond1 or cond2 or cond3:
    print("Pelo menos uma delas é verdadeira")
  else:
    print("Ambas são falsas")
  
main()

In [ ]:
def main():
  cond_obrigatoria = True
  cond_opcional1 = False
  cond_opcional2 = True

  if cond_obrigatoria and cond_opcional1 and cond_opcional2:
    print("Todas são verdadeiras")
  elif cond_obrigatoria and (cond_opcional1 or cond_opcional2):
    print("A primeira é verdadeira. Já a segunda e a terceira, apenas uma delas é verdadeira")
  elif cond_opcional1 and cond_opcional2:
    print("A Obrigatória é falsa, mas pelo menos uma das opcionais é verdadeira")
  else:
    print("Ambas são falsas")
 



main()

**Laços de Repetição**

**Necessidade de uso**

Precisamos interagir com vários elementos de uma lista ou com dados de tamanho dinâmico

In [ ]:
# Lista de todos os alunos
alunos = ['Felipe','Haynes','Alisson']

alunos.append('Josemar')

if(len(alunos) == 0):
    print("Não tem nenhum aluno")
elif(len(alunos) == 1):
    print(alunos[0])
elif(len(alunos) == 2):
    print(alunos[0])
    print(alunos[1])
elif(len(alunos) == 3):
    print(alunos[0])
    print(alunos[1])
    print(alunos[2])
elif(len(alunos) == 4):
    print(alunos[0])
    print(alunos[1])
    print(alunos[2])
    print(alunos[3])

**Para Laços de Repetição podemos utilizar o comando FOR**

**Ele é utilizado da seguinte maneira: 'For Iterando in Lista'**

In [ ]:
# Lista de todos os alunos
alunos = ['Felipe', 'Haynes', 'Alisson']
alunos.append('Josemar')

# Para todos os alunos => vou printar o nome
for aluno in alunos:
  print(aluno)

#**Desafio 5.1**

Criar uma lista de notas e adicionar entre 5 e 10 notas a seu critério.
Por fim, printar todas as notas desta lista através de um laço for

In [ ]:
notas = []
notas.append(1)
notas.append(2)
notas.append(3)
notas.append(4)
notas.append(5)
notas.append(6)
notas.append(7)

for nota in notas:
  print(nota)

In [ ]:
notas=[]

for i in range(4,11):
  notas.append(i)

for nota in notas:
  print(nota)

#**Laços de Repetição**

##**Necessidade de uso**
Precisamos interagir com vários elementos de uma lista ou com dados de tamanho dinâmico


Ex: Em vez de fazermos igual abaixo, um caso para cada quantidade de dados, nós podemos uma vez só para qualquer quantidade

In [ ]:
# Lista de todos os alunos
alunos = ['Felipe','Haynes','Alisson']

alunos.append('Josemar')
if(len(alunos)==0):
  print("Não tem nenhum aluno")
elif(len(alunos) == 1):
    print(alunos[0])
elif(len(alunos) == 2):
    print(alunos[0])
    print(alunos[1])
elif(len(alunos) == 3):
    print(alunos[0])
    print(alunos[1])
    print(alunos[2])
elif(len(alunos) == 4):
    print(alunos[0])
    print(alunos[1])
    print(alunos[2])
    print(alunos[3])

## Para Laços de Repetição podemos utilizar o comando FOR
#### Ele é utilizado da seguinte maneira:  'For Iterando in Lista'

In [ ]:
# Lista de todos os alunos
alunos = ['Felipe','Haynes','Alisson']

alunos.append('Josemar')

# Para todos os alunos => vou printar o nome
for aluno in alunos:
  print(aluno)

**Para utilizarmos um intervalo no for (ou seja, de X até Y) podemos usar a função Range**  
Com a função range() nós podemos fazer o bloco for iterar quantas vezes definirmos

In [ ]:
notas = []

for i in range(4,11):
  notas.append(i)

for nota in notas:
  print(nota)

**Assim como podemos ter listas dentro de listas, nós podemos ter for dentro de for**  
Na computação chamamos isso de for aninhado

In [ ]:
def main():
  # Todos os possiveis alunos
  # Felipe, Alisson, Haynes, Josemar
  alunos = ['Felipe','Alisson','Haynes','Josemar']
  
  # As notas respectivas dos alunos
  # 8 e 10, 10 e 7, 8 e 9, 10 e 10
  notas = [[8,10],[10,7],[8,9],[8,9]]

  for aluno in alunos:
    print(aluno)

  # Media de [Primeiro Aluno] = [Notas do 1º] / 2
  # Para todos -> Media do [Atual] = [Notas do Atual] /2

  for lista_notas in notas:
    soma = 0
    for nota in lista_notas:
      soma += nota
    media = soma / len(lista_notas)
    print(media)



main()

**Os laços for (laços de repetição) são muito úteis para se trabalhar com índices**

In [ ]:
def main():
  # Todos os possiveis alunos
  # Felipe, Alisson, Haynes, ByLearner
  alunos = ['Felipe','Alisson','Haynes','Josemar','ByLearner']

  # As notas respectivas dos alunos
  # 8 e 10, 10 e 7, 8 e 9, 10 e 10
  notas = [[8,10],[10,7],[8,9],[10,10],[5,5]]

  # Media de [Primeiro Aluno] = [Notas do 1º] / 2
  # Para todos -> Media do [Atual] = [Notas do Atual] /2
  if(len(alunos)==len(notas)):
    for indice in range(len(alunos)):
      soma = 0
      for nota in notas[indice]:
        soma += nota
      media = soma / len(notas[indice])
      print(f'O aluno {alunos[indice]} tem a média {media}')
      if(media >= 6):
        print(f'- Portanto, ele foi aprovado.')
      else:
        print(f'- Portanto, ele foi reprovado.')
    
  else:
    print('Tem algo de errado!\nProvavelmente algum aluno não fez a prova.')





main()

O aluno Felipe tem a média 9.0
- Portanto, ele foi aprovado.
O aluno Alisson tem a média 8.5
- Portanto, ele foi aprovado.
O aluno Haynes tem a média 8.5
- Portanto, ele foi aprovado.
O aluno Josemar tem a média 10.0
- Portanto, ele foi aprovado.
O aluno ByLearner tem a média 5.0
- Portanto, ele foi reprovado.

**Laços de repetição for também funcionam com strings, mostrando caracter por caracter**

In [ ]:
string = 'Curso de Python da ByLearn'

for char in string:
  print(char)

C
u
r
s
o

d
e

P
y
t
h
o
n

d
a

B
y
L
e
a
r
n

**1º nós podemos usar o enumerate() para além do valor, também termos o índice**  
**2º Não precisamos necessariamente usar for aninhada, podemos usar a virgula para definir os elementos que queremos recuperar (ex: chave, valor)**

In [ ]:
lista = ['J','o','s','e','m','a','r']

for chave, valor in enumerate(lista):
  print('O valor ',valor,'fica no indice',chave)

O valor  J fica no indice 0
O valor  o fica no indice 1
O valor  s fica no indice 2
O valor  e fica no indice 3
O valor  m fica no indice 4
O valor  a fica no indice 5
O valor  r fica no indice 6

## Outro laço de repetição é o While, que significa Enquanto
### Funciona enquanto uma condição for verdadeira fazendo uma determinada ação

In [ ]:
contador = 1

while contador < 6:
  print(contador)# Devemos tomar cuidado para não entrar em loop (quando retiramos contador +=1 do codigo )
  contador +=1

1
2
3
4
5

In [ ]:
condicao_de_parada = '0'

while condicao_de_parada != '9':
  condicao_de_parada = input("Digite um número: ")
  for i in range(1,int(condicao_de_parada)+1):
    print(i)

Digite um número: 3
1
2
3
Digite um número: 4
1
2
3
4
Digite um número: 9
1
2
3
4
5
6
7
8
9

Lembrete: Não da para iterar em um inteiro, precisa ser em um intervalo (algo iterável)

In [ ]:
for i in 9:
  print(i)

TypeError: ignored

## Utilizando Continue e Break
**Continue** => Continuar em português => Continuo a minha operação de loop => Vou pra próxima etapa  
**Break** => Quebra em português => Quebrar a minha operação de loop => Interromper o loop nesta etapa

In [ ]:
i = 1

while i < 5:
  print(i)
  i += 1
  if i ==3:
    break

for x in range(10,20):
  print(x)
  if x == 15:
    break

1
2
10
11
12
13
14
15

In [ ]:
i = 0

while i < 6:
  i += 1
  if i == 3:
      continue
  print(i)

for x in range(10,20):
  if x == 15:
      continue
  print(x)

1
2
4
5
6
10
11
12
13
14
16
17
18
19

## Desafio 5.2: Par ou Ímpar
Você deve mostrar todos os números Pares e pular os Ímpares  
No intervalo de 0 e 20 onde se checar no numero 15 nós vamos parar a execução

In [ ]:
# Mod = Pegar o Resto da divisão
# Exemplo:  5 % 3 = 2 (resto da divisão de 5 por 3)

In [ ]:
for numero in range(20):
  if(numero == 15):
    break
  if(numero % 2 == 1):
    continue # 1 , 3 , 5 .. 13, 15
  print(numero)

0
2
4
6
8
10
12
14

In [ ]:
for numero in range (20):
  if(numero % 2 == 0 and numero < 15):
    print(numero)

0
2
4
6
8
10
12
14

## Extra: Há o Else em Laços de Repetição
Esse else ocorre depois do fim do laço

In [ ]:
for i in range(5):
  print(i)

else:
  print('Após o laço, após a iteração')

0
1
2
3
4
Após o laço, após a iteração

In [ ]:
i = 1

while i < 5:
  print(i)
  i += 1

else:
  print('i não é menor que 5')
  print(i)

1
2
3
4
i não é menor que 5
5

## Diferença de uso entre For e While
O laço **for** é geralmente usado quando nós sabemos o número de repetições de antemão;  

Já o **while** é para quando temos uma ideia de condição de para, mas não sabemos exatamente quando isso acontece (número de iterações até isso acontecer)

# Tuplas, Dicionários, Conjuntos e Listas

### Listas
* Pode-se aumentar e diminuir o tamanho
* Pode-se modificar o valor de um elemento
* É a mais popular dos 4
* É inicializável com []

In [ ]:
lista = []
lista = [0,1,2]
lista = [i for i in range(3)]

### Tuplas
* É totalmente imutável (não permite alterações)
* Útil para dados fixos
* Muito mais rápida do que uma lista
* É inicializável com ()

In [ ]:
tupla = ()
tupla = (0,1,2,3,4)
tupla = tuple([i for i in range(5)])

### Conjuntos
* Não é ordenado
* Não aceita valores duplicados
* Possui operação dos Conjuntos Matemáticos
* É inicializável com {}

In [ ]:
conjunto = {'item'}
conjunto = {'a',1,2,'b'}

### Dicionários
* Possuem chave e valor
* São mutáveis
* Não aceitam chaves duplicadas
* É inicializável com {'chave':'valor'}

In [ ]:
dicionario = {'chave':'valor','chave2':'valor2'}

## Revisão sobre Listas

In [ ]:
lista = []
print(lista)
print(type(lista))
print(type([]))

[]
<class 'list'>
<class 'list'>

In [ ]:
lista = [0,1,2,3,4,5,6,7,8,9,10]
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
lista = []
for i in range(11):
  lista.append(i)
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
lista = [i for i in range(11)]
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
lista[6] = 10
lista[5] = 15

In [ ]:
lista.remove(4)

## Aula de Tuplas

In [ ]:
tupla = ()
print(tupla)
print(type(tupla))
print(type(()))

()
<class 'tuple'>
<class 'tuple'>

In [ ]:
tupla = (1,2,3) # Ela é inicializado e fica fixa dessa maneira
print(tupla)

(1, 2, 3)

In [ ]:
print(tupla[0])
print(tupla[2])

1
3

In [ ]:
tupla.append(4) # Tupla não permite adicionar novos elementos

In [ ]:
tupla[0] = 4 # Tupla não permite modificar os elementos existentes

In [ ]:
tupla.remove(1) # Tupla não permite remover elementos

**Conclusão:** Tuplas são imutáveis

Para criarmos ou convertermos um objeto para uma tupla podemos usar a função **tuple()**

In [ ]:
tupla = tuple([i for i in range(11)])
print(tupla)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
lista = [1,2,3]
tupla = tuple(lista)
print(type(lista))
print(type(tupla))

<class 'list'>
<class 'tuple'>

Podemos tranformar uma lista em tupla e vice-versa, dessa forma, podemos editar seus valores

In [ ]:
tupla = (1,2,3,4,5)
lista = list(tupla)
lista.append(6)
lista[2] = 'Teste'
lista.remove(4)
tupla = tuple(lista)
print(tupla)

(1, 2, 'Teste', 5, 6)

**Operações Gerais para Estruturas de Dados Tuplas, Dicionários, Conjuntos e Listas:**

In [ ]:
tupla = (1,2,3,4,5)
print(tupla[0])
print(tupla[1:4])
print(tupla[-1])
print(len(tupla))
print(3 in tupla) #True
print(4 not in tupla) #False

for i in tupla:
  print(i)

1
(2, 3, 4)
5
5
True
False
1
2
3
4
5

## Aula sobre Conjuntos (sets)
**Vem da teoria dos conjuntos matemáticos, tendo todas as operações eles possuem**

In [ ]:
conjunto = {'teste'}
print(conjunto)
print(type(conjunto))
print(type({1}))

{'teste'}
<class 'set'>
<class 'set'>

In [ ]:
conjunto = {1,2,3,1,4,3}
print(conjunto) # Não aceitam duplicatas

{1, 2, 3, 4}

In [ ]:
conjunto1 = {'a','b','c','d'}
conjunto2 = {'j','m','n','c','d'}
conjunto1.add('f') # Add => Adição => Operação dos Conjuntos Matemáticos
conjunto2.add('g')
print(conjunto1) # Não são ordenados
print(conjunto2) # Não são ordenados

{'d', 'b', 'c', 'a', 'f'}
{'d', 'm', 'g', 'c', 'j', 'n'}

**Operações com um só conjunto por vez**  
**ADD:** Adiciona apenas um item

In [ ]:
frutas = {'maçã','uva'}
print(frutas)
frutas.add('laranja')
print(frutas)

{'uva', 'maçã'}
{'uva', 'maçã', 'laranja'}

**Update:** Adiciona mais de um item por vez

In [ ]:
frutas = {'maçã','uva'}
frutas.update(['pera','abacaxi','melancia','morango'])
print(frutas)

{'pera', 'abacaxi', 'maçã', 'morango', 'uva', 'melancia'}

**Remove:** Remove, mas dá erro se o valor não existir  
**Discard:** Remove e não da erro se o valor não existir

In [ ]:
frutas.remove('maçã') # Remove dá erro se o valor já não existe

KeyError: ignored

In [ ]:
frutas.discard('maçã')
print(frutas)

{'pera', 'abacaxi', 'morango', 'uva', 'melancia'}

**Clear:** Remove todos os itens

In [ ]:
frutas.clear()
print(frutas)

set()

**Operações com um mais de um conjunto por vez**  
**Union:** Faz a união (soma) de dois conjuntos, retornando um novo conjunto  
**Update:** Também une dois conjuntos, porém, modifica direto no próprio conjunto que chamar esse método

In [ ]:
conjunto1 = {'a','b','c','d',}
conjunto2 = {'j','m','n','c','d'}

conjunto1.update(conjunto2) # Update modifica o meu conjunto
print(conjunto1)

{'c', 'm', 'j', 'a', 'd', 'b', 'n'}

**Intersection:** Me mostra a intersecção entre um e outro  
**Difference:** Me mostra a diferença entre o primeiro e segundo

In [ ]:
conjunto1 = {'a','b','c','d',}
conjunto2 = {'j','m','n','c','d'}

interseccao = conjunto1.intersection(conjunto2)

print(interseccao)

{'c', 'd'}

In [ ]:
conjunto1 = {'a','b','c','d',}
conjunto2 = {'j','m','n','c','d'}

diferenca = conjunto1.difference(conjunto2)
diferenca2 = conjunto2.difference(conjunto1)

print(diferenca)
print(diferenca2)

{'a', 'b'}
{'n', 'm', 'j'}

**Issubset:** Se o primeiro é um subconjunto do segundo

In [ ]:
conjuntinho = {1,2,3}
conjuntao = {1,2,3,4,5,6}

subconjunto = conjuntinho.issubset(conjuntao)
print(subconjunto)

True

**Set():** Converte para Conjunto  
**Método Construtor:** É o método que cria uma instancia (objeto) daquela classe

In [ ]:
set() # Construtor da classe set 
tuple() # Construtor da classe tupla
list() # Consrtutor da classe lista
print()

In [ ]:
lista = [1,2,3,4,5]
tupla = ('a','b','c','d','e','f')
conjunto1 = set (lista)
conjunto2 = set (tupla)

print(conjunto1)
print(conjunto2)

{1, 2, 3, 4, 5}
{'d', 'b', 'c', 'a', 'e', 'f'}

## Aula Dicionário
É uma estrutura de dados composta por chaves e valores.

In [ ]:
# listas = [] => Mutavel, adiciona e remove itens...
# tuplas = () => Imutavel, mais rapida...
# conjuntos = {} => Conjuntos numéricos, operações de conjuntos, não ordenados...

# Procura => Resposta
# chave => valor
# cat => gato
# dog => cachorro
# apple => maça
# while => enquanto

# É composto por chaves e valores

In [ ]:
dict = {'dog':'cachorro' , # Não aceita repetições de chaves
        'cat':'gato',
        'dog':'ave' # Sobreescreve o valor atual da chave
        }

print(dict)
print(type(dict))
print(type({'dog':'cachorro'}))

{'dog': 'ave', 'cat': 'gato'}
<class 'dict'>
<class 'dict'>

In [ ]:
# Dicionario suporta varios itens
# Chaves não podem ser repetidas
# É mutável (alterável)

In [ ]:
dict = {'dog':'cachorro' , # Não aceita repetições de chaves
        'cat':'gato',
        'bird':'ave' # Sobreescreve o valor atual da chave
        }

print(dict)

{'dog': 'cachorro', 'cat': 'gato', 'bird': 'ave'}

**dicionario['chave']:** Procura pela chave e retorna o valor. Dá erro se não existir a chave  
**dicionario.get('chave'):** Procura pela chave e retorna o valor. Não dá erro se não existir a chave

In [ ]:
dict['dog'] # Não é acessível por índices, mas sim, por chaves

'cachorro'

In [ ]:
dict.get('dog')

'cachorro'

In [ ]:
dict['cachorro'] # Retorna erro se não existir

TypeError: ignored

In [ ]:
dict.get('cachorro') # Não da erro e não existir

**Dicionários são mutáveis (alteráveis)**

In [ ]:
dict = {'dog':'cachorro', # Não aceita repetições de chaves
        'cat':'gato',
        'bird':'ave' # Sobreescreve o valor atual da chave
        }

print(dict)

{'dog': 'cachorro', 'cat': 'gato', 'bird': 'ave'}

In [ ]:
dict ['dog'] = 'cachorro'

print(dict)

{'dog': 'cachorro', 'cat': 'gato', 'bird': 'ave'}

**Embora recomendável, não necessariamente uma chave deva ser uma string**

In [ ]:
dict = {'string_chave':1,'string_chave2':2.4,'string_chave3':'string'}

print(dict)

{'string_chave': 1, 'string_chave2': 2.4, 'string_chave3': 'string'}

In [ ]:
dict_num = {1:'um',2:'dois',3:'tres',4:'quatro',5:'cinco'}

print(dict_num)

{1: 'um', 2: 'dois', 3: 'tres', 4: 'quatro', 5: 'cinco'}

In [ ]:
dict_num[1] # Embora se pareça com um indice, é uma CHAVE

'um'

In [ ]:
for i in range (1,6):
  
  print(dict_num[i])

um
dois
tres
quatro
cinco

## Realizando loop nos dicionários

In [ ]:
dict = {'dog':'cachorro', # Não aceita repetições de chaves
        'cat':'gato',
        'bird':'ave' # Sobreescreve o valor atual da chave
        }

for chaves in dict: # Me retorna as chaves   
    print(chaves)

print('-'*25)

for chave in dict:

    print(dict[chave])  # Me retorna os valores das chaves

dog
cat
bird
-------------------------
cachorro
gato
ave

In [ ]:
dir()

['In',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 '_sh',
 'exit',
 'get_ipython',
 'quit']